# Node.js and NPM files
node_modules/
npm-debug.log

# Application directories
app/
lib/

# Configuration files
.env
.vscode/

# Security files
*.pem
!mock-cert.pem

# Logs and temporary files
.DS_Store

# Test coverage directory
coverage/

# Azure local storage (Azurite)
__blobstorage**/
__queuestorage**/
__azurite**
